.main-container{
    padding: 20%;
    height: 60vh;
    width: 60vw;
}

.board-container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background-color: green;
    transition: transform 0.1s ease;
}

.square:active{
    transform: translateY(5px); /* Button moves down 5px on click */
}